footer.container-footer-main
  div.footer-up
    p Mis Redes Sociales:
    div
      a(href="https://github.com/Riszart", target="_blank").icon-clase 
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/github-icon.svg", alt="github")
      a(href="https://www.linkedin.com/in/riszart-vergara-cajacuri-71b935214/", target="_blank").icon-clase  
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/linkedin-icon.svg", alt="linkedin")
      a(href="https://twitter.com/riszartvc", target="_blank").icon-clase  
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/twitter-icon.svg", alt="twitter")
      a(href="https://www.facebook.com/vergaracajacuririszart/", target="_blank").icon-clase  
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/facebook-icon.svg", alt="facebook")
      a(href="https://music.youtube.com/playlist?list=PL0Yt0mEJED9JdP5vXRqu85XAyeI78wjKV&feature=share", target="_blank").icon-clase  
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/icons8-youtube-music-96.svg", alt="youtube music")
    p Nunca parés de aprender.
  div.footer-down
    p Realizado con JavaScript, preprocesador PUG y SASS.

