meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="shortcut icon", href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r-lg.webp" type="image/x-icon")
//- meta(name="robots" content="noindex")
//- meta(name="date" content="2023-05-13T03:36:43+00:00")
meta(name="keywords", content="Riszart Daryl, Desarrollador Web, Sitios Web")
meta(name="author", content="Riszart Daryl")
meta(name="robots", content="index, follow")
meta(name="copyright", content="desarrollado y diseñado por Ri  szart Daryl")

//- pwa

meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="manifest" href="https://riszart.github.io/briefcase-riszart-daryl/manifest.json")
meta(name="theme-color" content="#161616")


//- facebook

meta(property="og:title" content="Riszart Daryl - Desarrollador Web")
meta(property="og:description" content="Riszart Daryl - Desarrollador Web - Creación de sitios web funcionales y atractivos para empresas y particulares ¡Visita su sitio web ahora!")
meta(property="og:image" content="URL de la imagen de portada")
meta(property="og:url" content="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/redes.png")

//- linkedin

meta(name="linkedin:title" content="Riszart Daryl - Desarrollador Web")
meta(name="linkedin:description" content="Riszart Daryl - Desarrollador Web - Creación de sitios web funcionales y atractivos para empresas y particulares ¡Visita su sitio web ahora!")
meta(name="linkedin:image" content="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/redes.png")
meta(property="og:type" content="website")

//- twitter

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Riszart Daryl - Desarrollador Web")
meta(name="twitter:description" content="Riszart Daryl - Desarrollador Web - Creación de sitios web funcionales y atractivos para empresas y particulares ¡Visita su sitio web ahora!")
meta(name="twitter:image" content="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/redes.png")