meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="shortcut icon", href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.webp" type="image/x-icon")
//- meta(name="robots" content="noindex")
//- meta(name="date" content="2023-05-13T03:36:43+00:00")
meta(name="keywords", content="Riszart Daryl, Desarrollador Web, Sitios Web")
meta(name="author", content="Riszart Daryl")
meta(name="robots", content="index, follow")
meta(name="copyright", content="desarrollado y diseñado por Riszart Daryl")
//- link(rel="preconnect" href="https://fonts.googleapis.com")
//- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
//- link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:wght@500;600;700;800&family=Genos:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Play:wght@400;700&display=swap" rel="stylesheet")
