include settings.pug
nav.nav-principal
  select(name="").change-leng
    option(value="en").english ingles
    option(value="es").spanish español
  img(src="https://riszart.github.io/riszart-daryl/src/img/svg/close_icon.svg", alt="sierre del nav con icono close").close-icon__nav
  div.nav-container
    div.nav-container__logo
      img(src="https://riszart.github.io/riszart-daryl/src/img/web/riszart.jpeg", alt="foto del autor riszart daryl").photo
      img(src="https://riszart.github.io/riszart-daryl/src/img/web/riszart-logo-white.webp", alt="logo del autor riszart daryl").logo
    ul.nav-container__list
      li.about: p sobre mi
      li.my-skill: p tecnologia
      li.work: p proyecto 
      li.contact: p contacto
      li.CV: p CV
    div.nav-container__icons
      img(src="https://riszart.github.io/riszart-daryl/src/img/svg/github-icon.svg", alt='github', class='github')
      img(src="https://riszart.github.io/riszart-daryl/src/img/svg/linkedin-icon.svg", alt='linkeding', class='linkeding')
      img(src="https://riszart.github.io/riszart-daryl/src/img/svg/twitter-icon.svg", alt='twitter', class='twitter')
      img(src="https://riszart.github.io/riszart-daryl/src/img/svg/facebook-icon.svg", alt='facebook', class='facebook')
    div.nav-container__footernav 
      p Diseñado y desarrollado
      p por Riszart
