include settings.pug
section.nav-container__all-elements 
  nav.nav-principal
    div.content-flags
      label(for="english").content-flag__en 
        img(src="../../../public/img/web/us.png", alt="cambio de idioma english").content-flag__en-img
      input(type="radio" name="leng")#en
      label(for="spanish").content-flag__es
        img(src="../../../public/img/web/pe.png", alt="cambio de idioma spanish").content-flag__es-img
      input(type="radio" name="leng" checked)#es
    img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/close_icon.svg", alt="cierre de nav en mobile programador web").close-icon__nav
    div.nav-container
      div.nav-container__logo
        //- div.logo
        //-   img(src="/public/img/web/r.png", alt="logo de nombre del programador web riszart")
        img(src="../../../public/img/web/riszart.jpeg", alt="foto de perfil del programador web riszart").logo
      ul.nav-container__list
        li.about: p sobre mi
        li.my-skill: p tecnologia
        li.work: p proyectos 
        li.contact: p contacto
        li.CV: p CV
      div.nav-container__icons
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/github-icon.svg", alt='enlace github del programador web riszart', class='github')
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/linkedin-icon.svg", alt='enlace linkedin del programador web riszart', class='linkeding')
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/twitter-icon.svg", alt='enlace twitter del programador web riszart', class='twitter')
        img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/facebook-icon.svg", alt='enlace facebook del programador web riszart', class='facebook')
      div.nav-container__footernav 
        p Diseñado y desarrollado
        p por Riszart
  div.show-navbar: div
    
