include settings.pug
nav.nav-principal
  select(name="").change-leng
    option(value="en").english Ingles
    option(value="es").spanish Español
  img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/close_icon.svg", alt="cierre de nav en mobile programador web").close-icon__nav
  div.nav-container
    div.nav-container__logo
      img(src="../../img/web/riszart.jpeg", alt="foto de perfil del programador web riszart").photo
      img(src="../../img/web/riszart-logo-white.webp", alt="logo de nombre del programador web riszart").logo
    ul.nav-container__list
      li.about: p sobre mi
      li.my-skill: p tecnologia
      li.work: p proyectos 
      li.contact: p contacto
      li.CV: p CV
    div.nav-container__icons
      img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/github-icon.svg", alt='enlace github del programador web riszart', class='github')
      img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/linkedin-icon.svg", alt='enlace linkedin del programador web riszart', class='linkeding')
      img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/twitter-icon.svg", alt='enlace twitter del programador web riszart', class='twitter')
      img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/facebook-icon.svg", alt='enlace facebook del programador web riszart', class='facebook')
    div.nav-container__footernav 
      p Diseñado y desarrollado
      p por Riszart
