doctype html
html(lang="es")
	include head.pug
	include settings.pug
	include mixin.pug
	body
		include temporalStart.pug
		include temporalEnd.pug
		include nav.pug
		include header.pug
		block content 
		include footer.pug
		script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js") 
		script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js") 
		script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js") 
		script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js")
		script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js") 