script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js") 
script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js") 
script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js") 
script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js") 
script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js")
