script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js") 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js" defer) 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js" defer) 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js" defer) 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js" defer)
