extends components/plantilla.pug
block content 
  main.container--about 
    section.about
      h1.about__tittle Desarrollador Web en JavaScript
      div.about__photo 
        img(src="../../../public/img/web/riszart.jpeg", alt="foto de perfil del programador web riszart")
      div.about__text
        p Riszart Daryl (riszart.v.c.2250@gmail.com)
        p Hola lector, soy un desarrollador web profesional (enfocado en Javascript) con aproximado un año y medio de experiencia desarrollando proyectos enfocados en frontend con tecnologías HTML, CSS y Javascript, además de usar preprocesadores como sass y pug para proyectos más grandes.
        P En la parte de Javascript, actualmente estoy enfocando en hacer proyectos con API, fetch para realizar llamadas al backend trayendo datos que se utilizan para modificar parte del DOM de la página y, por lo tanto, hacerlo más interactivo y amigable.
        p Comencé con la programación cuando cursaba el instituto, con un enfoque más en los sistemas eléctricos, después de culminar el instituto me interesó más la programación fuera del enfoque de la industria (programacion de procesadores, plc, etc.) y desde entonces comencé a estudiarla de manera más autodidacta con la ayuda de la plataforma de Youtube y Platzi:
        p Comencé aprendiendo HTML, CSS y Javascript, después de aprenderlos, seguí con los preprocesadores de HTML y CSS
        p Actualmente me encuentro aprendiendo mas de js y en paralelo nodejs.
        p Además de estudiar me encuentro realizando proyectos en Javascript, haciendo prácticas con promesas, objetos, APIs, etc.
        p para mejorar mis habilidades, lo que me ha enseñado mucho. Anteriormente estudié en el Instituto SENATI de la carrera (Mecatrónica Industrial) donde aprendí sobre programación: programación de procesadores, programación de PLC, etc. Así como también he adquirido conocimientos de otras áreas como:
        span •
        li Mecanica Industrial
        span (mecanizado de piezas con fresadora, torno, fresadora lineal)
        br
        span •
        li Electrónica Industrial
        span (desarrollo y diseño de circuitos con componentes electrónicos así como procesadores y su programación)
        br
        span •
        li Electricidad Industrial
        span (desarrollo y diseño de circuitos eléctricos para sistemas industriales así como programación de PLC, LOGO y su integración con circuitos eléctricos)
        br
        span •
        li Robótica industrial
        span (desarrollo de un proceso industrial así como su programación de sistemas eléctricos con PLC y programación de robots industriales (brazo robótico KUKA))
        br
        span •
        li Neumática y Electroneumática
        br
        span •
        li Programación de PLC