extends components/plantilla.pug
block content 
  main.container--contact
    section.contact
      h2.contact-tittle Hagamos un gran trabajo.
      div.contact-text 
        //- h3 CONTACTO
        p Hola, soy Riszart, desarrollador web front-end enfocado en JavaScript, con aproximadamente un año y medio de experiencia, estudiando y realizando varios proyectos, no dudes en contactarme para preguntarme lo que deseas sobre el desarrollo  de un proyecto o si deseas que trabajemos juntos, soy una persona que se compromete con lo que hace y apasionado por la programación.
      div.contact-send
        p Envíame un correo
      div.contact-social
        ul 
          li linkedin
          li Twitter
          li Facebook
          li Instagram
    section.content-formulario
      div.back-formulario
      form(name="contact-es" method="POST" netlify).formulario
        div.formulario-close
          span
        div.formulario-contact
          p contactame 
        div.formulario-input
          div.formulario-input__left
            label(for="name") nombre:
            input(type="text" name="name" id="name-subject")
          div.formulario-input__right
            label(for="email") email:
            input(type="email" name="email" id="email-subject")
        div.formulario-message 
          label(for="message") mensaje:
          textarea(name="message", cols="30", rows="10" id="content-subject")
        div.formulario-buttons
          button(type="submit").formulario-buttons__send
            p enviar mensaje
  script(src="../../js/scriptContact.js") 
  script(src="../../js/script.js")
  script(src="../../js/changePage.js") 
