doctype html
html(lang="es")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body.container-body__index
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/nav.pug
		include components/header.pug
		canvas#content-index 
	script(src="../../js/changeLeng.js")
	script(src="../../js/script.js") 
	script(src="../../js/changePage.js") 
	script(src="../../js/index.js")
	