doctype html
html(lang="es")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body.container-body__index
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/nav.pug
		include components/header.pug
		canvas#content-index 
	script(src="../../../public/js/startEnd.js")  
	script(src="../../../public/js/script.js")
	script(src="../../../public/js/changePage.js")
	script(src="../../../public/js/changeLeng.js")
	script(src="../../../public/js/index.js")
	script(src="../../../public/js/navBar.js")
	