extends components/plantilla.pug
block content 
  main.container--portafolio 
    section.portafolio
      h2.portafolio__tittle PROYECTOS REALIZADAS
      div.portafolio__text
        P Juegos, paginas y aplicaciones, que hice como practicas
        p de lo que aprendí.
      div.portafolio__content-li
    div.box-float
      div.box-float__close
        span.box-float__close-item
      div.box-float__img-project
        img.img-project(src="", alt="")
      p.box-float__project-name 
      p.box-float__project-description
      div.box-float__project-programs
        p
        div
      p.go-to-page
  script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/object.js") 
