
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.png" type="image/x-icon"/>
<meta name="keywords" content="Riszart Daryl, Desarrollador Web, Sitios Web"/>
<meta name="author" content="Riszart Daryl"/>
<meta name="robots" content="index, follow"/>
<meta name="copyright" content="desarrollado y diseñado por Riszart Daryl"/>
<meta name="google-site-verification" content="2MW93FV-secpKt0T9b1Kr9e-YQ_c5F7TG-AlpS1GmFU"/>