
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Riszart Daryl es un desarrollador web especializado en crear sitios web atractivos y funcionales. Contacta con él para mejorar tu presencia en línea."/>
  <meta name="date" content="2023-05-13T03:36:43+00:00"/>
  <meta name="keywords" content="Riszart Daryl, Desarrollador Web, Sitios Web"/>
  <meta name="author" content="Riszart Daryl"/>
  <meta name="robots" content="index, follow"/>
  <meta name="copyright" content="desarrollado y diseñado por Riszart Daryl"/>
  <meta name="google-site-verification" content="2MW93FV-secpKt0T9b1Kr9e-YQ_c5F7TG-AlpS1GmFU"/>
  <title>Riszart Daryl - Desarrolador Web</title>
  <link rel="icon" href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.png" alt="riszart programador web logo abreviado R"/>
  <link rel="stylesheet" href="https://riszart.github.io/briefcase-riszart-daryl/public/css/principal.css"/><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:wght@500;600;700;800&family=Genos:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Play:wght@400;700&display=swap" rel="stylesheet">
</head>