
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="👨‍💻 Desarrolador web - 👨🏻‍💻 programador web con el talento para la maquetacion, estructuracion, diseño de paginas web y con el constante aprendisaje integrando lo aprendido resultando en un gran proyecto ..."/>
  <meta name="keywords" content="desarrolador web - programador web - riszart - portafolio de riszart - riszart daryl"/>
  <meta name="author" content="Riszart Daryl"/>
  <meta name="robots" content="all"/>
  <meta name="copyright" content="desarrollado y diseñado por Riszart Daryl"/>
  <meta name="google-site-verification" content="2MW93FV-secpKt0T9b1Kr9e-YQ_c5F7TG-AlpS1GmFU"/>
  <title>Riszart Daryl - Desarrolador Web</title>
  <link rel="icon" href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.png" alt="riszart programador web logo abreviado R"/>
  <link rel="stylesheet" href="https://riszart.github.io/briefcase-riszart-daryl/public/css/principal.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Genos:wght@100;200;300;400;500;600;700;800;900&amp;family=Play:wght@400;700&amp;family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet"/>
</head>