
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js"> </script>
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js" defer="defer"> </script>
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js" defer="defer"> </script>
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js" defer="defer"> </script>
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js" defer="defer"></script>