
<script src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js"> </script>
<script defer="defer" src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js"> </script>
<script defer="defer" src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js"> </script>
<script defer="defer" src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js"> </script>
<script defer="defer" src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js"></script>