
<header class="header-principal">
  <div class="header-container">
    <div class="header-container__logo"><img class="photo" src="/src/img/web/riszart.jpeg" alt=""/><img class="logo" src="/src/img/web/riszart-logo-white.webp" alt=""/></div>
    <ul class="header-container__list">
      <li class="about">
        <p>about</p>
      </li>
      <li class="my-skill">
        <p>my skill</p>
      </li>
      <li class="work">
        <p>work</p>
      </li>
      <li class="contact">
        <p>contact</p>
      </li>
      <li class="CV">
        <p>CV</p>
      </li>
    </ul>
    <div class="header-container__icons"><img class="github" src="./src/img/svg/github-icon.svg" alt="github"/><img class="linkeding" src="/src/img/svg/linkedin-icon.svg" alt="linkeding"/><img class="twitter" src="/src/img/svg/twitter-icon.svg" alt="twitter"/><img class="facebook" src="/src/img/svg/facebook-icon.svg" alt="facebook"/></div>
    <div class="header-container__footernav"> 
      <p>Designed and Developed</p>
      <p>by Riszart</p>
    </div>
  </div>
</header>