header.header-container 
  img( width="70px" height="70px" src="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r-sm.webp", alt="riszart programador web logo abreviado R").go-inicio
  h1.content-tittle-h1 
  //- div.deploy-menu