script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/PWA.js")
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js" async) 
//- script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js" async) 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js" async) 
script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js" async)

//- script(src="/public/js/PWA.js")
//- script(src="/public/js/changePage.js" async) 
script(src="/public/js/navBar.js" async) 
//- script(src="/public/js/script.js" async) 
//- script(src="/public/js/changeLeng.js" async)
