doctype html
html(lang="es")
  head 
    include es/components/head.pug
    title Riszart Daryl - Contactame (Freelancer)
    meta(name="description", content="Riszart Daryl es un desarrollador web especializado en crear sitios web atractivos y funcionales. Contacta con él para mejorar tu presencia en línea.")
    link(rel="canonical", href="https://riszartdaryl.site/contact.html")
    link(rel="stylesheet", href="https://riszart.github.io/briefcase-riszart-daryl/public/css/contact.css")
  body.container-body__index
    include es/components/temporalStart.pug
    include es/components/temporalEnd.pug
    include es/components/nav.pug
    include es/components/header.pug
    main.container--contact
      section.contact
        h1.contact-tittle Hagamos un gran trabajo.
        div.contact-text 
          p Hola, no dudes en contactarme para preguntarme lo que deseas sobre el desarrollo de un proyecto o si deseas que trabajemos juntos, soy una persona que se compromete con lo que realiza y apasionado por la tecnología.
        div.contact-send
          p Envíame un correo
        div.contact-social
          ul 
            li linkedin
            li Twitter
            li Facebook
            li Instagram
      section.content-formulario
        div.back-formulario
        form(name="contact-es" method="POST" netlify).formulario
          div.formulario-close
            span
          div.formulario-contact
            p contactame 
          div.formulario-input
            div.formulario-input__left
              label(for="name-subject") (*)nombre:
              input(type="text" name="name" id="name-subject" placeholder="ejemplo" required)
            div.formulario-input__right
              label(for="email-subject") (*)email:
              input(type="email" name="email" id="email-subject" placeholder="ejemplo@gmail.com" required)
          div.formulario-input__center
            label(for="number-subject") N° celular:
            input(type="number" name="number" id="number-subject" placeholder="+51 987654321")
          div.formulario-message 
            label(for="content-subject") (*)mensaje:
            textarea(name="message", cols="30", rows="10" id="content-subject" placeholder="Detalle su pregunta o consulta" required)
          div.formulario-buttons
            button(type="submit").formulario-buttons__send
              p enviar mensaje
    include es/components/footer.pug
    include es/components/scriptGeneral.pug
    script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/scriptContact.js")
