doctype html
html(lang="es")
	//- include es/components/settings.pug
	//- include es/components/mixin.pug
	head 
		include es/components/head.pug
		title Riszart Daryl - Desarrolador Web
		meta(name="description", content="Riszart Daryl es un desarrollador web con experiencia en la creación de sitios web funcionales y atractivos para empresas y particulares ¡Visita su sitio web ahora!")
		link(rel="canonical", href="https://riszartdaryl.netlify.app/")
		link(rel="stylesheet", href="https://riszart.github.io/briefcase-riszart-daryl/public/css/index.css")
	body.container-body__index
		include es/components/temporalStart.pug
		include es/components/temporalEnd.pug
		include es/components/nav.pug
		include es/components/header.pug
		main
			canvas#content-index()
		include es/components/scriptGeneral.pug
		script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/index.js")
