doctype html
html(lang="es")
	include es/components/head.pug
	include es/components/settings.pug
	include es/components/mixin.pug
	body.container-body__index
		include es/components/temporalStart.pug
		include es/components/temporalEnd.pug
		include es/components/nav.pug
		include es/components/header.pug
		canvas#content-index 
	script(src="../js/changeLeng.js")
	script(src="../js/script.js")
	script(src="../js/changePage.js") 
	script(src="../js/index.js")