doctype html
html(lang="es")
	include es/components/head.pug
	include es/components/settings.pug
	include es/components/mixin.pug
	body.container-body__index
		include es/components/temporalStart.pug
		include es/components/temporalEnd.pug
		include es/components/nav.pug
		include es/components/header.pug
		main
			canvas#content-index
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js")  
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/script.js")
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js")
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/changeLeng.js")
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/index.js")
	script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js")
