extends es/components/plantilla.pug
block content 
  main.container--portafolio
    h1.content-tittle-h1 proyectos web
    section.portafolio
      h2.portafolio__tittle front-end developer
      div.portafolio__text
        P Juegos, páginas y aplicaciones, que realice como prácticas
        p de lo que aprendí.
      div.portafolio__content-li
    div.box-float
      div.box-float__close
        span.box-float__close-item
      div.box-float__img-project
        img.img-project(width="910px" src="", alt="muestra de la imagen")
      p.box-float__project-name 
      p.box-float__project-description
      div.box-float__project-programs
        p
        div
      p.go-to-page
  script(defer src="https://riszart.github.io/briefcase-riszart-daryl/public/js/object.js") 
