doctype html
html(lang="es")
  head 
    include es/components/head.pug
    title Riszart Daryl - Proyectos Realizados
    meta(name="description", content="Riszart Daryl es un desarrollador web especializado en crear sitios web atractivos y funcionales. Contacta con él para mejorar tu presencia en línea.")
    link(rel="canonical", href="https://riszartdaryl.site/portafolio.html")
    link(rel="stylesheet", href="https://riszart.github.io/briefcase-riszart-daryl/public/css/portafolio.css" defer)
    link(rel="preconnect" href="https://gist.githubusercontent.com")
    link(rel="dns-prefetch" href="https://gist.githubusercontent.com")
  body.container-body__index
    include es/components/temporalStart.pug
    include es/components/temporalEnd.pug
    include es/components/nav.pug
    include es/components/header.pug
    main.container--portafolio
      section.portafolio
        h2.portafolio__tittle front-end developer
        div.portafolio__text
          P Durante mi trayectoria como desarrollador web, he tenido la oportunidad de aplicar y fortalecer mis conocimientos a través de la creación de diversos proyectos, como juegos interactivos, páginas web y aplicaciones. Estos proyectos no solo han sido prácticas, sino también una forma de poner en práctica lo que he aprendido y mejorar mis habilidades en el campo del desarrollo web.
          //- p ¡Han sido una excelente manera de consolidar mi aprendizaje!.
          p Aquí te presento algunos de los que he llevado a cabo:
        div.portafolio__content-li
      div.box-float
        div.box-float__close
          span.box-float__close-item
        div.box-float__img-project
          img.img-project(width="910px" height="0px" src="", alt="muestra de la imagen")
        p.box-float__project-name 
        p.box-float__project-description
        div.box-float__project-programs
          p
          div
        p.go-to-page
    include es/components/footer.pug
    include es/components/scriptGeneral.pug
    script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/portfolio.js" async) 
