<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riszart Daryl</title>
    <link rel="stylesheet" href="/public/css/principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Genos:wght@100;200;300;400;500;600;700;800;900&amp;family=Play:wght@400;700&amp;family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="inicio-back__start">
      <div> 
        <h2>wait</h2>
      </div>
    </section>
    <section class="inicio-back__end">
      <div> 
        <h2>wait</h2>
      </div>
    </section>
    <header class="header-principal">
      <div class="header-container">
        <div class="header-container__logo"><img class="photo" src="/src/img/web/riszart.jpeg" alt=""><img class="logo" src="/src/img/web/riszart-logo-white.webp" alt=""></div>
        <ul class="header-container__list">
          <li class="about">
            <p>about</p>
          </li>
          <li class="my-skill">
            <p>my skill</p>
          </li>
          <li class="work">
            <p>work</p>
          </li>
          <li class="contact">
            <p>contact</p>
          </li>
          <li class="CV">
            <p>CV</p>
          </li>
        </ul>
        <div class="header-container__icons"><img class="github" src="/src/img/svg/github-icon.svg" alt="github"><img class="linkeding" src="/src/img/svg/linkedin-icon.svg" alt="linkeding"><img class="twitter" src="/src/img/svg/twitter-icon.svg" alt="twitter"><img class="facebook" src="/src/img/svg/facebook-icon.svg" alt="facebook"></div>
        <div class="header-container__footernav"> 
          <p>Designed and Developed</p>
          <p>by Riszart</p>
        </div>
      </div>
    </header>
    <footer class="container-footer-main">
      <div class="footer-up">
        <p>My Social Networks:</p>
        <div><img src="/src/img/svg/github-icon.svg" alt=""><img src="/src/img/svg/linkedin-icon.svg" alt=""><img src="/src/img/svg/twitter-icon.svg" alt=""><img src="/src/img/svg/facebook-icon.svg" alt=""></div>
        <p>Feel free to contact me.</p>
      </div>
      <div class="footer-down">
        <p>Made with JavaScript, HTML and CSS</p>
      </div>
    </footer>
    <script src="/public/js/changePage.js"> </script>
    <script src="/public/js/script.js"> </script>
  </body>
</html>