
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Riszart Daryl</title>
  <link rel="stylesheet" href="https://riszart.github.io/briefcase-riszart-daryl/public/css/principal.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Genos:wght@100;200;300;400;500;600;700;800;900&amp;family=Play:wght@400;700&amp;family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet"/>
</head>