
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Personal web page dedicated to showing what has been learned as well as the projects that I have carried out"/>
  <meta name="keywords" content="riszart daryl - website riszart - riszart - briefcase riszart - daryl"/>
  <meta name="author" content="Riszart Daryl"/>
  <meta name="robots" content="all"/>
  <meta name="copyright" content="developed and designed by"/>
  <title>Riszart Daryl - frontend developer</title>
  <link rel="icon" href="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.png" alt="riszart web developer logo abbreviated R"/>
  <link rel="stylesheet" href="https://riszart.github.io/briefcase-riszart-daryl/public/css/principal.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&amp;family=Genos:wght@100;200;300;400;500;600;700;800;900&amp;family=Play:wght@400;700&amp;family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet"/>
</head>