extends components/plantilla.pug
block content 
  main.container--about 
    section.about
      h2.about__tittle Web Developer Specialized in JavaScript
      div.about__photo 
        img(src="https://riszart.github.io/riszart-daryl/src/img/web/riszart.jpeg", alt="")
      div.about__text
        p Riszart Daryl (riszart.v.c.2250@gmail.com)
        p Hello reader, I am a professional web developer (specializing in Javascript) with one year of experience developing projects focused on frontend with HTML, CSS and Javascript technologies as well as using preprocessors such as sass and pug for larger projects.
        P In the Javascript part you are currently using fetch to make calls to the backend bringing data that is used to modify part of the DOM of the page and thus making it more interactive and friendly.
        p I gave up programming when I was in high school, with a focus more on electrical systems, later I became more interested in programming and since then I started to study it more self-directed with the help of Platzi's platform: 
        p Starting with HTML followed by CSS and later with Javascript
        p After I learned with HTML and CSS preposers
        p I am currently delving deeper into Javascript, doing practices with promises, objects, APIs, etc.
        p I am studying in my spare time on the Platzi platform to improve my skills, which has taught me a lot. Previously, I studied at the SENATI institute with a degree (Industrial Mechatronics) where I learned about nibel machine programming and machine programming. processors, as well as I have also gained knowledge of other areas such as:
        span •
        li Industrial Mechanics
        span (part machining with milling machine, lathe, linear milling machine)
        br
        span •
        li Industrial Electronics
        span (development and design of circuits with electronic components as well as processors and their programming)
        br
        span •
        li Industrial Electricity 
        span (development and design of electrical circuits for industrial systems as well as PLC programming, LOGO and its integration with electrical circuits)
        br
        span •
        li Industrial robotics
        span (development of an industrial process as well as its programming of electrical systems with PLC and programming of industrial robots (KUKA robotic arm))
        br
        span •
        li Pneumatics and Electropneumatics
        br
        span •
        li PLC Programming