extends components/plantilla.pug
block content 
  main.container--contact
    section.contact
      h2.contact-tittle Let's do a great job.
      div.contact-text 
        p Hello, I'm Riszart, a front-end web developer, with about a year and a half of experience, studying and carrying out several projects, don't hesitate to contact me to ask me what you want about the development of a project or if you want us to work together, I'm a person who is committed to what he does and passionate about programming.
      div.contact-send
        p Send me a email
      div.contact-social
        ul 
          li linkedin
          li Twitter
          li Facebook
          li Instagram
    section.content-formulario
      div.back-formulario
      form(name="contact-en" method="POST" netlify).formulario
        div.formulario-close
          span
        div.formulario-contact
          p contact me
        div.formulario-input
          div.formulario-input__left
            label(for="name") name
            input(type="text" name="name" id="name-subject")
          div.formulario-input__right
            label(for="email") email
            input(type="email" name="email" id="email-subject")
        div.formulario-message 
          label(for="message") message
          textarea(name="message", cols="30", rows="10" id="content-subject")
        div.formulario-buttons
          button(type="submit").formulario-buttons__send
            p send message
  script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/scriptContact.js") 
