doctype html
html(lang="en")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body.container-body__index
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/nav.pug
		header.header-container 
			img(src="https://riszart.github.io/riszart-daryl/src/img/web/riszart-logo-white.webp", alt="")
			div.deploy-menu
		canvas#content-index 
	script(src="https://riszart.github.io/riszart-daryl/src/js/changePage.js") 
	script(src="https://riszart.github.io/riszart-daryl/src/js/script.js") 
	script(src="https://riszart.github.io/riszart-daryl/src/js/index.js")
	script(src="https://riszart.github.io/riszart-daryl/src/js/changeLeng.js") 