doctype html
html(lang="en")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/header.pug
		main.container-skill 
			section.skill 
				div: img(src="/src/img/svg//html-icon.svg", alt="")
				div: img(src="/src/img/svg//css-icon.svg", alt="")
				div: img(src="/src/img/svg//javascript-icon.svg", alt="")
				div: img(src="/src/img/web//pug.png", alt="")
				div: img(src="/src/img/svg//sass-icon.svg", alt="")
				div: img(src="/src/img/svg//nodejs-icon.svg", alt="")
				div
				div
		script(src="/public/js/changePage.js") 
		script(src="/public/js/script.js") 
		