doctype html
html(lang="en")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/nav.pug
		include components/header.pug
		main.container-skill 
			section.skill 
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/html-icon.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/css-icon.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/javascript-icon.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/pug-js.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/sass-icon.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/nodejs-icon.svg", alt="")
				div: img(src="https://riszart.github.io/riszart-daryl/src/img/svg/tailwindcss-text.svg", alt="")
				div
		script(src="https://riszart.github.io/riszart-daryl/src/js/changeLeng.js") 
		script(src="https://riszart.github.io/riszart-daryl/src/js/script.js")
		script(src="https://riszart.github.io/riszart-daryl/src/js/changePage.js") 

		
		