doctype html
html(lang="en")
	include components/head.pug
	include components/settings.pug
	include components/mixin.pug
	body.container--summary
		include components/temporalStart.pug
		include components/temporalEnd.pug
		include components/nav.pug
		include components/header.pug
		main.summary-main
			section.summary-main__inicio
				div.summary-main__inicio-up
					h2 RISZART DARYL
					h3 WEB DEVELOPER
					p Web developer with approximately a year and a half of experience, making
					p and studying web projects.
			section.summary-main__line: div
			section.summary-main__grid
				div.grid-img.card
					div.card2
				div.profile#profile
					h4 Professional profile
					div.profile--efect 
						div.profile--efect-content
							section.profile--efect-content__up 
								img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/riszart.jpeg", alt="photo by riszart")
								div
									h5 Riszart Daryl
									span Web developer
							section.profile--efect-content__down 
								p Hello, I am a Web Developer with approximately a year and a half of experience, having carried out several projects such as: a game developed with canvas as well as statistics where it is graphed on canvas, landinpage, my own web page, ATM simulation, others. Passionate about technology, and committed to the projects that were done.
				div.education#education
					h4 Education
					div.education--efect
						div.education--efect-content
							section.education--efect-content__top 
								h5 Online Professional Courses
								li Object Oriented Programming (OOP) with js
								li Closures and Scope in js
								li Mathematics and Statistics with js
								li Workshop to create the first video game with js
								li Programming in Git and GitHub
								li Transformation and Transition in css
								li Animations with CSS
								li Web Design with css Grid and Flexbox
								li Responsive Design: mobile and desktop design
								li Web Design with HTML and CSS
								li Programming of the Frontend Developer course with js
							section.education--efect-content__middle 
								h5 institute
								span (Industrial Mechatronics Technician)
								li industrial electronics
								li Industrial Mechanics
								li Solidwork Design
								li technical english
								li c++ Programming
								li PLC programming
								li Processor programming with MAPLA
								li Pneumatics and Electropneumatics
								li Industrial Robotics
							section.education--efect-content__down
								h5 Academy preparation
								span (Approximately 1 year of studies)
							section.education--efect-content__down
								h5 High school
								span (Elementary studies carried out in adolescence in a public school)
				div.experience#experience
					h4 Work experience
					div.experience--efect
						div.experience--efect-content
							h5 2021/08 - present:
								ul freelancer front-end developer
									li website development
							h5 2021 - 2018:
								ul independent
									li Carpentry (furniture assembly)
									li Upholstery (car seat restoration)
									li construction (home construction helper)
									li Electrician (electrical installations in homes)
									li Electronics (appliance repair)
									li computation (computer maintenance)
									li Automotive mechanics (wiring - car ironing)
							h5 2017/07 - 2018/06:
								ul Elevator installation
									li assembly of elevators in buildings
							h5 2017/04 - 2017/01
								ul metalworking
									li light box manufacturing
									li installation of meters in light box
							h5 2015/12 - 2016/04
								ul Museum of robotics and technology of Peru
									li maintenance of museum projects
									li Development of new robotic projects for the museum
									li Basic robotics teaching
				div.technologies#technologies
					h4 technologies
					div.technologies--efect
						div.technologies--efect-content
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/html-icon.svg", alt="web programming language html")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/css-icon.svg", alt="web programming language css")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/sass-icon.svg", alt="css preprocessor, web scheduler sass")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/javascript-icon.svg", alt="web programming language javascript")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/github-icon.svg", alt="repository for project storage")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/nodejs-icon.svg", alt="web programming language nodejs")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/web/pug.png", alt="html preprocessor, web programmer pug")
							img(src="https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/tailwindcss-text.svg", alt="css framework, tailwind web developer")
			section.summary-main__coments
		include components/footer.pug
		script(src="ttps://riszart.github.io/briefcase-riszart-daryl/public/js/startEnd.js") 
		script(src="ttps://riszart.github.io/briefcase-riszart-daryl/public/js/script.js") 
		script(src="ttps://riszart.github.io/briefcase-riszart-daryl/public/js/changePage.js") 
		script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/summary.js")
		script(src="https://riszart.github.io/briefcase-riszart-daryl/public/js/navBar.js") 