.header-container {
  display: flex; //flex
  width: 100%;
  height: 70px;
  position: fixed;
  //top: 0;
  background-color: $color-dark;
  z-index: 10;
  border-bottom: solid $color-primary;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  img {
    cursor: pointer;
    height: 50px;
  }
//   .deploy-menu {
//     display: none;
//     width: 40px;
//     height: 40px;
//     margin-right: 15px;
//     background-image: url('https://riszart.github.io/briefcase-riszart-daryl/public/img/svg/menu-icon-6points.svg');
//     background-position: center;
//     background-size: cover;
//   }
}
