#content-index {
  width: 100vw;
  cursor: crosshair;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(0.25turn, $color-hover ,$color-primary 90%);
  margin: 0;
  padding: 0;
  border: none;
  // animation-name: changeColor;
  // animation-duration: 1s;
  // animation-iteration-count: infinite;
}
.title-h2-index {
  font-family: $font-body;
  width: auto;
  height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  background-color: get-opacity($color-dark, .8);
  border-radius: 10px;
  padding: 20px 20px;
  border: solid $color-hover 5px;
  transition: height .5s;
  overflow: hidden;
  @include media(tablet){
    left: calc(50% + 100px);
    height: 146px;
    transition: ease-in top 1s .5s, ease-out left 3s, height 0.5s, transform 2s;
  }
  h2 {
    min-width: 320px;
    text-transform: uppercase;
    outline: solid 5px $color-dark;
    background-color: $color-hover;
    color: $color-dark;
    margin: 0;
    border-radius: 5px;
    animation-name: borderCaracter;
    animation-duration: .5s;
    animation-iteration-count: 50;
    @include font-size(34px);
    @include media(tablet){
      padding: 0 15px;
      min-width: 550px;
      @include font-size(64px);
    }
  }
  h3 {
    position: relative;
    color: $color-primary;
    display: inline-block;
    animation-name: changeCaracter;
    animation-duration: .5s;
    animation-iteration-count: 50;
    @include font-size(24px);
    @include media(tablet){
      @include font-size(54px);
    }
  }
  span {
    position: relative;
    color: $color-primary;
    font-weight: bold;
    animation-name: changeCaracter;
    animation-duration: .5s;
    animation-iteration-count: 50;
    @include font-size(54px);
    @include media(tablet){
      @include font-size(84px);
    }

  }

}
@keyframes changeCaracter {
  0%{
    color: $color-hover;
  }

  50%{
    color: $color-primary;
  }

  100%{
    color: $color-hover;
  }
}

@keyframes borderCaracter {
  0%{
    outline-color: $color-hover;
  }

  50%{
    outline-color: $color-primary;
  }

  100%{
    outline-color: $color-hover;
  }
}