.content-flags {
  width: 100%;
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35%;
  position: absolute;
  top: 0;
  left: 0;
  .content-flag__en {
    padding: 1px 8px;
    border-radius: 2px;
    cursor: pointer;
    &-img {
      height: 25px;
      width: 25px;
    }
  }
  .content-flag__es {
    padding: 1px 8px;
    border-radius: 2px;

    cursor: pointer;
    &-img {
      height: 25px;
      width: 25px;
    }
  }
  #es {
    display: none;
  }
  #en {
    display: none;
  }
}
.nav-container__all-elements {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
}
.show-navbar {
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  position: relative;
  // left: calc(100vw - 60px);
  z-index: 1100;
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;
  margin-top: 9px;
  background-color: $color-dark;
  @include media(tablet){
    width: 70px;
    border: solid 2px $color-primary;
    position: relative;
    // left: 0;
    margin-top: 100px;
    border-radius: 5px;
    opacity: .7;
  }
  // label input:checked ~ div::after {
  //   background-color: red !important;
  // }
  input {
    visibility: hidden;
  }
  div {
    height: 3px;
    width: 40px;
    position: relative;
    background-color: $color-primary;
    border-radius: 30%;
    @include media(tablet){
      width: 50px;
      background-color: $color-primary;
    }
    &::after {
      content: " ";
      bottom: 10px;
      height: 3px;
      position: absolute;
      width: 40px;
      background-color: $color-primary;
      border-radius: 30%;
      @include media(tablet){
        width: 50px;
      }
    }
    &::before {
      content: " ";
      height: 3px;
      width: 40px;
      position: absolute;
      bottom: -10px;
      background-color: $color-primary;
      border-radius: 30%;
      @include media(tablet){
        width: 50px;
      }
    }
  }
  &:hover {
    @include media(tablet){
      border-color: $color-hover;
      opacity: 1;
      div, div::after, div::before {
      background-color: $color-hover;
      }
    }
  }
}
.nav-principal {
  display: block;
  width: 0;
  height: 100vh;
  position: fixed;
  padding: 20px 0;
  top: 0;
  background-color: $color-dark;
  z-index: 1000;
  transition-duration: 0.5s;
  visibility: hidden;
  overflow: hidden;
  @include media(tablet){
    position: relative;
    display: block;
    height: 100vh;
    box-shadow:
    -50px 50vh 500px $color-primary,
    -50px -50vh 500px $color-hover;
    border-right: solid $color-primary 2px;
  }
  .nav-container {
    min-width: 158px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @include media(tablet){
        gap: 10px;
      }
      // .name {
      //   width: 100%;
      // }
      // .photo {
      //   border-radius: 5%;
      //   width: 180px;
      //   border: solid 1px $color-sky;
      //   // box-shadow:
      //   // 0px 0px 8px $color-hover,
      //   // -0px -0px 8px $color-hover;
      //   @include media(tablet){
      //     width: 120px;
      //   }
      //   @include media(desktop-m){
      //     margin-bottom: 10px;
      //     margin-top: 50px;
      //   }
      // }
      .logo {
        cursor: pointer;
        height: 150px;
        box-shadow:
        0px 0px 8px $color-hover,
        -0px -0px 8px $color-hover;
        margin-top: 30px;
        border-radius: 50%;
        @include media(tablet){
          border: solid $color-sky 1px;
        }
        &:hover {
          border: solid 2px $color-hover;
        }
        img {
          height: 100%;
        }
      }
    }
    &__list {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
      li {
        width: 100%;
        height: 55px;
        border-top: solid get-opacity($color-hover, .5) 1px;
        display: grid;
        place-content: center;
        cursor: pointer;
        @include border;
        @include media(tablet){
          border-top: solid get-opacity($color-sky, .5) 1px;
          height: 50px;
        }
        p {
          color: $color-sky;
          text-transform: capitalize;
          font-weight: 500;
          margin-bottom: 0;
          @include font-size(20px)
        }
        &:last-child{
          border-bottom: solid get-opacity($color-hover, .5) 1px;
          @include media(tablet){
            border-bottom: solid get-opacity($color-sky, .5) 1px;
          }
        }
        &:hover p{
          text-decoration: none;
        }
      }
    }
    &__icons {
      display: grid;
      grid-template-columns: 70px 70px 70px;
      gap: 20px;
      @include media(tablet){
        grid-template-columns: 50px 50px;
      }
      img {
        height: 100%;
        width: 100%;
        box-shadow:
          0px 0px 8px $color-hover,
          -0px -0px 8px $color-hover;
        @include hoverBorderAfter;
        @include hoverBorderBefore;
        @include media(tablet){
          height: 50px;
          width: 50px;
        }
      }
    }
    &__footernav {
      width: 100%;
      p {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0;
        color: $color-sky;
      }
    }
  }
}