.inicio-back__end {
  font-family: $font-body;
  width: 0;
	height: 100vh;
	position: fixed;
	z-index: 10000;
  top: 0;
  cursor: wait;
  overflow: hidden;
	transition: width 0.5s ease;
	background-color: $color-dark;
  display: grid;
  place-content: center;
	height: 100vh;
  left: 0;
  img {
    // height: 70px;
    // width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    // background-image: url('https://riszart.github.io/briefcase-riszart-daryl/public/img/web/r.webp');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
  p{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    margin-top: 120px;
    @include font-size(18px)
  }
}

