header.header-principal
  div.header-container
    div.header-container__logo
      img(src="/src/img/web/riszart.jpeg", alt="").photo
      img(src="/src/img/web/riszart-logo-white.webp", alt="").logo
    ul.header-container__list
      each item in itemNav 
        if item === "skill"
          li.my-skill: p= "my " +item
        else
          li(class=item): p=item
    div.header-container__icons
      img(src="/src/img/svg/github-icon.svg", alt='github', class='github')
      img(src="/src/img/svg/linkedin-icon.svg", alt='linkeding', class='linkeding')
      img(src="/src/img/svg/twitter-icon.svg", alt='twitter', class='twitter')
      img(src="/src/img/svg/facebook-icon.svg", alt='facebook', class='facebook')
    div.header-container__footernav 
      p Designed and Developed
      p by Riszart
